@import components/mixin
*
    margin: 0
    font-family: "Open Sans"
html
    font-size: 0.7px
a
    font-family: "Open Sans"
header
    box-shadow: -0.174px 9px 5px rgba(0,0,0,0.06)
hr
    margin: 50px 0
main
    flex-direction: column
    +media(1440)
        flex-direction: row
.flex
    display: flex
.wrapper
    margin: 0 50px 0
.bgc-black
    position: fixed
    right: -100%
    top: 0
    width: 100%
    height: 100%
    background: rgba(#fff, 0.2)
    backdrop-filter: blur(5px)
    transition: all 0.4s ease
    z-index: 5
.header-menu
    justify-content: space-between
    align-items: center
    padding: 36px 0
.menu
    display: none
    column-gap: 50px
    align-items: center
    a
        font-size: 18px
        text-transform: uppercase
        color: #4c7792
        font-weight: 70
        text-decoration: none
        transition: all 0.5s ease 
        &:last-child
            +btn-green(10px 30px)
            font-size: 18px
            text-transform: uppercase
            color: #ffffff
            margin-left: 50px
        &:hover
            color: #333
    +media(768)
        display: flex
.canvas
    background-image: linear-gradient(181deg, #bfe5f5 20%, #c6eee8 80%)
    min-width: 50%
    justify-content: center
    align-items: flex-end
.molbert-sam
    position: absolute
    width: 300px
    height: 300px
    background-color: #fff
    left: 50%
    top: 50%
    transform: translate(-50%,-27%)
    transition: all 0.5s ease 
.menu-to-canvas
    justify-content: center
    display: flex
.menu-canvas
    text-align: center
    margin: 100px 0
    max-width: 760px
    font-size: 36rem
    color: #333333
    font-weight: 700
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1)
    border-radius: 10px
    h2
        padding-bottom: 20px 
    +media(340)
        padding: 20px
.molbert
    z-index: 1
    position: relative
    img
        max-width: 300px
    +media(768)
        max-height: 900px
    +media(1440)
        img
            max-width: none
    
.sizes
    flex-direction: column
    gap: 20px
    input
        display: none
    +media(680)
        flex-direction: row
.first
    +size("30x30")
    justify-content: center
.second
    +size("30x90")
    justify-content: center
.thirst
    +size("90x120")
    justify-content: center
.fourth
    +size("90x150")
    justify-content: center
.btn-blue
    +btn()
.x-input
    input
        +input()
.y-input
    input
        +input()
.personal-size
    flex-direction: column
    margin-top: 30px
    gap: 30px
    align-items: center
    +media(680)
        flex-direction: row
.multiplication
    position: relative
    svg
        position: absolute
        top: 50%
        transform: translateX(-50%)
.additional-service-menu
    text-align: left
    flex-direction: column
    gap: 20px
    p
        margin-left: 40px  
        font-size: 18px
        color: #333333
        label
            font-size: 18px
            color: #4c7792
        input
            display: none
        +checkbox()
.price-additional
    text-align: right
.space-between
    justify-content: space-between
.total-sum
    flex-direction: column 
    border-radius: 10px
    background-color: #d6edfb
    align-items: center
    justify-content: space-between
    button
        +btn-green(30px 25px)
    span
        content: "-dasdasdasd"
        font-size: 28px
        color: #56c107
        margin-left: 10px 
    p
        align-items: center
        font-size: 18px
        text-transform: uppercase
        color: #333333
        position: relative
    +media(768)
        padding-right: 20px
        button
            +btn-green(30px 60px)
.settings
    font-size: 16px
    color: #333333
    font-weight: 500
.copyright
    text-align: center
    background-color: #333333
    width: 100%
    p
        font-size: 18px
        color: #d6edfb
        font-weight: 500
        padding: 20px 0
