doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    body
        header
            .header-menu.flex.wrapper
                .logo
                    picture
                        img(src="/img/logo.png", alt="")
                .menu.flex
                    a(href="#") Галерея
                    a(href="#") Про нас
                    a(href="#").btn замовити дзвінок    
        main.flex
            .canvas.flex
                picture.molbert
                    img(src="/img/molbert.png", alt="")
            .menu-to-canvas.wrapper
                .menu-canvas
                    h2 Виберіть розмір
                    .sizes
                        p.first
                            input(type="radio" name="size" id="30x30")
                            label(for="30x30")
                        p.second
                            input(type="radio" name="size" id="30x90")
                            label(for="30x90") 
                        p.thirst 
                            input(type="radio" name="size" id="90x120")
                            label(for="30x120") 
                        p.fourth
                            input(type="radio" name="size" id="90x150")
                            label(for="30x150") 
        footer.wrapper
            .copyright