doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    body
        .bgc-blur
        header
            .header-menu.flex.wrapper
                .logo
                    picture
                        img(src="/img/logo.png", alt="")
                .menu.flex
                    a(href="#") Галерея
                    a(href="#") Про нас
                    a(href="#").btn-green замовити дзвінок    
        main.flex
            .canvas.flex
                picture.molbert
                    .p.molbert-sam
                    img(src="/img/molbert.png", alt="")
            .menu-to-canvas.wrapper
                .menu-canvas
                    h2 Виберіть розмір
                    form(action="") 
                        .sizes.flex
                            p.first
                                input(type="radio" name="size" id="first" value="30")
                                label(for="first")
                            p.second
                                input(type="radio" name="size" id="x90" value="90")
                                label(for="x90")
                            p.thirst 
                                input(type="radio" name="size" id="x120" value="120")
                                label(for="x120")
                            p.fourth
                                input(type="radio" name="size" id="x150" value="150")
                                label(for="x150")
                            p.btn
                                button(type="submit").btn-blue задати розмір
                    form(action="")
                        .personal-size.flex
                            .x-input.settings
                                p ширина
                                input(type="text" id="x-input")
                            .multiplication
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                            .y-input.settings
                                p висота
                                input(type="text" id="y-input")
                            p.btn
                                button(type="submit").btn-blue підрахувати
                    hr
                    .additional-service 
                        h2 Додаткові опції
                        .additional-service-menu.flex
                            .expensive-kanvas.flex.space-between
                                p
                                    input(type="checkbox" name="additional" id="expensive-kanvas" value="35")
                                    label(for="expensive-kanvas") дорожче полотно
                                p.price-additional + 35 грн
                            .with-frame.flex.space-between
                                p
                                    input(type="checkbox" name="additional" id="with-frame" value="10")
                                    label(for="with-frame") з рамкою
                                p.price-additional + 10 грн
                            .delivery.flex.space-between
                                p
                                    input(type="checkbox" name="additional" id="delivery" value="40")
                                    label(for="delivery") з доставкою (Нова Пошта)
                                p.price-additional + 40 грн
                    hr
                    form(action="").total-sum.flex
                        button.buy придбати
                        p.flex Загальна сума:
                            span(id="price") 0грн
        footer
            .copyright
                p &copy Kanvas. Всі права захищені
        script(src="js/scripts.js")